@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(96deg, #7874CA 9.2%, #63BBD7 43.2%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.gradient-bg {
  background: linear-gradient(180deg, #FFF 0%, #C3F0FE 42.7%, #B5B2DE 100%);
}
